.imagem-carrossel-1 {
    object-fit: cover;
    object-position: 0 80%;
    height: 450px;
}

.imagem-carrossel-2 {
    object-fit: cover;
    height: 450px;
}

.fonte-pacifico {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred;
}

.fundo-cor-especial {
    background-color: darkred;
    color: white;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-largura {
    max-width: 18rem;
}

.card-imagem {
    object-fit: cover;

    height: 200px;
}